.Box {
  width: 250px;
}

.ListItem {
  flex-direction: column;
}

.ListItemButton {
  width: 200px;
}

.HeaderRow {
  text-align: start;
  height: 400px;
  background-image: url("../../resources/header.png");
  background-size: cover;
}

.SideMenuOpenDiv {
  display: inline-block;
  padding: 15px;
}

.SideMenuOpenDiv :hover {
  background-color: deepskyblue;
  border-radius: 8px;
}

.MenuHeaderIconDiv {
  display: inline-block;
}

.MenuHeaderIconDiv img{
  height: 35px;
}

.SideMenuOpenButton {
  width: 30px;
  height: 30px;
  color: white;

}

.SideMenuReturnIconSpan {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}



.SideMenuReturnIconSpan :hover {
  border-radius: 8px;
  background: deepskyblue;
}

.SideMenuReturnIcon {
  padding: 5px;
}

.SideMenuHeaderIcon {
  width: 75%;
  padding: 10px;
}

.ContactUsBox {
  display: inline-block;
  margin-left: 75%;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  padding: 8px 20px;
}

.ContactUsBox span{
  color: white;
}


